body{
    background-image: url(../img/pexels-simon-berger-1323550.jpg);
    background-position: absolute;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 60vh;
    z-index: 2;
   
}


.rounded-circle.w-25{
    position:absolute;
    background-color: #fff;
    margin top: -75rem;
    z-index: index 1;
    width: -5rem;
    margin-left: 7.5rem;
    margin-right: -7.5rem;
    max-height: 100%;
}

.imagen{
    margin_top:-10rem;

}

    .section.abaout{
     
    margin top: 10remm;
    
    
    
}


.navbar.navbar-expand-lg.bg-primary-fixed.top{
    background: #b1b1b1;
background: -moz-linear-gradient(0deg, rgba(17,29,241,1) 25%, rgba(235,244,17,0.6082808123249299) 50%, rgba(17,29,241,1) 77%);
background: -webkit-linear-gradient(0deg, rgba(17,29,241,1) 25%, rgba(235,244,17,0.6082808123249299) 50%, rgba(17,29,241,1) 77%);
background: linear-gradient(0deg, rgba(17,29,241,1) 25%, rgba(235,244,17,0.6082808123249299) 50%, rgba(17,29,241,1) 77%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111df1",endColorstr="#111df1",GradientType=1);
}

.list-group {
 --bs-list-group-bg: transparent;
}

i.fa-solid.fa-user.fa-xl,
i.fa-brands.fa-linkedin.fa-xl,
i.fa-brands.fa-square-instagram.fa-xl,
i.fa-brands.fa-github.fa-xl{
    color:#fff;
} 

i.fa-brands.fa-linkedin.fa-xl:hover{
    color:rgb(9, 9, 171);
}
i.fa-brands.fa-square-instagram.fa-xl:hover{
    color: rgb(202, 33, 33);
}

i.fa-brands.fa-github.fa-xl:hover{
    color:rgb(9, 9, 218);
}

i.fa-solid.fa-user.fa-xl:hover{
    color:rgb(14, 14, 222);
    
}





 
  
    
